GoMuscu/__pycache__
GoMuscu/Exercice/__pycache__
GoMuscu/Exercice/migrations/__pycache__
GoMuscu/Muscle/__pycache__
GoMuscu/Muscle/migrations/__pycache__
GoMuscu/User/__pycache__
GoMuscu/User/migrations/__pycache__
